* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arail", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  color: #000;
  background-color: rgb(255, 255, 255);
}

.container {
  width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 35px;
  padding-left: 35px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.site-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-item {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar-list {
  margin-left: 30px;
}
.navbar-list a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #1d1f2e;
  text-decoration: none;
  transition: 0.4s;
}
.navbar-list a:hover {
  color: rgb(239, 8, 8);
}
.box-line {
  position: absolute;
  width: 92px;
  height: 2px;
  right: 50px;
  top: 58px;
  background: rgba(162, 95, 75, 0.3);
  border-radius: 0px;
}
.content-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #1d1f2e;
}
.text-box {
  margin-left: 10px;
}
.site-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 159px 0 177px 0;
  background-color: #050827;
  background-image: url(../images/header_img.png);
  background-repeat: no-repeat;
  background-position: center;
}
.coffee-box {
  width: 1210px;
  color: #fff;
}
.coffee-box h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.coffee-box h2 {
  font-weight: 400;
  font-size: 47px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}
.coffee-box p {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.box-button {
  width: 231px;
  height: 18px;
  background: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  border-radius: 0px;
}
